@using ManagingLib.DAL.Models;
@model IEnumerable<BookViewModel>
@{
    ViewData["Title"] = "Index";

}


<form id="myForm">
    <div class="justify-content-between">
        <div>
            <h1>Books</h1>
        </div>
        <div>
            <label class="col-form-label">Filter By Genre</label>
            <select name="genreId" class="form-control"  onchange="submitForm()">
                <option  value="">All Genre</option>
                @foreach (var genre in(IEnumerable<Genre>) ViewBag.genres)
                {
                    if (genre.Name != (string)ViewBag.selectedGenre)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                    else
                    {
                        <option selected value="@genre.Id">@genre.Name</option>

                    }
                }
            </select>
        </div>
    </div>
</form>
<br />
<div>
    <a asp-action="Create" class="btn btn-primary">Add Book</a>
</div>
<br />


<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">
            <table class="" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text text-center">Title</th>
                        <th class="text text-center">Publication Year</th>
                        <th class="text text-center">ISBN Number</th>
                        <th class="text text-center">Author</th>
                        <th class="text text-center">Genre</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.PublicationYear</td>
                            <td>@item.ISBN</td>
                            <td>@item.Author?.Name</td>
                            <td>@item.Genre?.Name</td>
                           @*  <td>
                                <label class="switch">
                                    <input id="status_button" onclick="changeStatus(@item.Id)" type="checkbox" @(item.IsDeleted ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </td> *@
                            <td><a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-eye"></i></a></td>
                            <td><a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a></td>
                            <td><a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>



            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(



            );
        });
   
       
    </script>
    <script>
        function submitForm() {
            // Get the form element by its ID
            var form = document.getElementById("myForm");

            // Submit the form
            form.submit();
        }
    </script>

}

